@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    font-weight: 400;
    margin: 1rem;
}
.container h1:hover{
    transform: scale(1.5);
    text-shadow: 5px 5px gray;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.button{
    margin: 2rem;
    width: 4rem;
    height: 4rem;
    border-top: 0;
    font-size: 3.6rem;
    border-right: 5px;
    border-width: 5px;
    border-color: #72ACC2;
    background-color: #29738F;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
